<div class="business-model">
  <div class="d-flex align-items-center">
    <div class="hexagon-container">
      <div class="hexagon">
        <i class="bi bi-hexagon-fill">
          <div class="hexagon-content">
            <i class="bi bi-check-lg"></i>
          </div>
        </i>
      </div>
    </div>

    <h2 class="title">Turn-Key Cargo Solution:</h2>
  </div>

  <div class="container-model mt-2">
    <p>
      Se trata de un modelo de negocio que ofrecemos a las 
      aerolíneas de pasajeros de bajo costo para hacer crecer, 
      fortalecer o creer la unidad de negocios de carga aérea.
    </p>
    <p>El modelo que ofrecemos:</p>
    <div class="map">
      <img src="../img/map-businessModel.png" alt="">
    </div>
  </div>
</div>