<ul class="d-lg-flex cargo-card justify-content-center mb-0">
  <li class="d-flex align-items-center flex-column flex-md-row justify-content-center">
    <div class="hexagon-container">
      <div class="hexagon">
        <i class="bi bi-hexagon-fill">
          <div class="hexagon-content">
            <i class="bi bi-airplane-engines"></i>
          </div>
        </i>
      </div>
    </div>

    <div class="cargo-data d-flex flex-column ms-3 justify-content-center">
      <h4 data-text="cargo" class="my-md-3 fw-bold fs-5 text-center text-md-start">
        Mercados y aeropuertos actualmente operados:
      </h4>
    </div>
  </li>
</ul>

<div class="container-maps d-flex flex-column flex-md-row align-items-center justify-content-center">
  <img src="./img/DIVIDIDO-01.svg" alt="map-1">
  <img src="./img/DIVIDIDO-02.svg" alt="map-2">
</div>