.allies{
  background-color: #29419f;
  color: #fff;
  padding: 1rem;
  text-align: center;
  h3{
    font-weight: 700;
    margin: 1rem 0;
  }
  img{
    margin: 2rem 0;
    width: 100%;
  }
}


@media screen and(min-width:992px){
  .allies{
    h3{
      margin: 3rem 0;
    }
    p{
      max-width: 700px;
      margin: auto;
    }
  }
}