<div class="card" style="width: 10rem;">
  <img src="./img/user1.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">
      <p>Ana</p>
      <p style="font-size:1rem; font-weight: normal;">Engineer</p>
    </h5>
    <p class="card-text mb-2" style="text-align:justify;">Some quick example text to build make up the bulk of the card's content.</p>
    <div class="social-network d-flex justify-content-center">
      <i class="bi bi-telegram mx-3"></i>
      <i class="bi bi-twitter mx-3"></i>
      <i class="bi bi-linkedin mx-3"></i>
    </div>
  </div>
</div>