<div class="card-question open" id="card-1">
  <div class="header-card d-flex">
    <p class="question-title p-3">
      Lorem ipsum dolor sit amet, consectetuer
    </p>
    <button onclick="toggleResquest('card-1')">
      <i class="bi bi-dash-lg"></i>
    </button>
  </div>

  <div class="body-card">
    <p class="p-3">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in 
    </p>
  </div>
</div>