<div class="container my-5 container-services-cards">
  <div class="row">

    <div class="col-12 d-flex flex-column flex-md-row justify-content-center align-items-center">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./img/servicesImg2.png" class="img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 data-translate="card-title-where-we-ship" class="card-title">Where we ship</h5>
              <p class="card-text">
                <ul data-translate="card-services-cities" style="height: 216px;" class="d-flex flex-column flex-wrap justify-content-center">
                  <!-- list cities -->
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 d-flex flex-column flex-md-row justify-content-center align-items-center">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./img/servicesImg2.png" class="img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 data-translate="card-title-cargo" class="card-title">General Cargo</h5>
              <p data-translate="card-title-perishables-cargo">Perishables Cargo, such as: </p>
              <p class="card-text">
                <ul data-translate="card-services-cargo" style="height: 216px;" class="d-flex flex-column flex-wrap justify-content-center">
                  <!-- list geleral cargo -->
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-12 d-flex flex-column flex-md-row justify-content-center align-items-center">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./img/servicesImg2.png" class="img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 data-translate="card-title-unacceptable-cargo" class="card-title">Unacceptable cargo</h5>
              <p class="card-text">
                <ul data-translate="card-services-unacceptable-cargo" class="d-flex flex-column flex-wrap justify-content-center">
                  <!-- list Unacceptable cargo -->
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 d-flex flex-column flex-md-row justify-content-center align-items-center">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./img/servicesImg2.png" class="img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 data-translate="card-title-cargo-requirements" class="card-title">Cargo requirements </h5>
              <p class="card-text">
                <ul data-translate="card-services-cargo-requirements" style="height: 216px;" class="d-flex flex-column flex-wrap justify-content-center">
                  <!-- list Cargo requirements  -->
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-12 d-flex flex-column flex-md-row justify-content-center align-items-center">
      <partial src="./components/Services/cards/ServicesCard.html"></partial>
      <partial src="./components/Services/cards/ServicesCard.html"></partial>
      <partial src="./components/Services/cards/ServicesCard.html"></partial>
    </div> -->
  </div>
</div>