<div class="container my-5 px-lg-5 container-card-home card-about">
  <div class="row align-items-center">
    <div class="col-12 col-md-6">
      <img src="./img/servicesImg.png" alt="">
    </div>
    <div class="col-12 col-md-6 ps-0">
      <div class="container-home-text py-3">
        <h3 class="title-double-color">OUR <span>SERVICES</span></h3>
        <p class="my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sint consequuntur aliquam illum sequi, placeat error aut ut quod alias!</p>
      </div>
    </div>
  </div>
</div>