<div class="container my-5 container-services-cards">
  <div class="row">
    <div class="col-12 d-flex flex-column flex-md-row justify-content-center align-items-center">
      <partial src="./components/Services/cards/ServicesCard.html"></partial>
      <partial src="./components/Services/cards/ServicesCard.html"></partial>
      <partial src="./components/Services/cards/ServicesCard.html"></partial>
    </div>
    <div class="col-12 d-flex flex-column flex-md-row justify-content-center align-items-center">
      <partial src="./components/Services/cards/ServicesCard.html"></partial>
      <partial src="./components/Services/cards/ServicesCard.html"></partial>
      <partial src="./components/Services/cards/ServicesCard.html"></partial>
    </div>
  </div>
</div>