<div class="employee">
  <div class="hexagon-container">
    <div class="hexagon">
      <i class="bi bi-hexagon-fill">
        <div class="hexagon-content">
          <img src="https://media.istockphoto.com/id/1355110818/photo/studio-shot-of-a-handsome-and-happy-young-man-posing-against-a-grey-background.jpg?s=170667a&w=0&k=20&c=hlvt8BdQGpSvIbtH2MQ_ERFPDorbVTA-Oa11SxzOPPE=" alt="">
        </div>
      </i>
    </div>
  </div>
  <div class="data-employee text-center">
    <p class="employee-name">Nombre</p>
    <p class="employment-name">Cargo</p>
    <p class="employee-description">Lorem ipsum dolor sit amet,
      consectetuer adipiscing elit,
      sed diam nonummy nibh
      euismod tincidunt ut lao- reet dolore magna aliquam
      erat volutpat. </p>
  </div>
</div>