<div class="cargo-cards">

  <div class="cards maxWidth d-lg-flex">
    <div class="col-12 col-lg-4 p-3">
      <section class="aviation-container p-3 d-lg-flex flex-column justify-content-between">
        <h3>AVIACIÓN <br> INTELIGENTE</h3>
        <p class="border-small"></p>
      
        <p class="aviation-container-text">Ofrecemos una solución estratégica e integral de servicios de
          carga para las aerolíneas de pasajeros low-cost del mundo que
          necesiten generar un rendimiento más eficiente e inteligente
          de su unidad de negocios de carga.</p>
        
        <div class="link">
          <a href="">VER MÁS</a>
        </div>
      </section>
    </div>

    <div class="col-12 col-lg-8 p-3">
      <section class="cargo">
        <ul class="d-lg-flex">
          <li>
            <div class="hexagon-container">
              <div class="hexagon">
                <i class="bi bi-hexagon-fill">
                  <div class="hexagon-content">
                    <i class="bi bi-check-lg"></i>
                  </div>
      
                </i>
              </div>
            </div>
            <div class="cargo-data">
              <h4>Carga aceptada</h4>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat facere iste at ipsa iusto excepturi perspiciatis tempore in quasi facilis quibusdam, libero optio ad velit tempora impedit! Quasi, ea fugit.</p>
              <a href="">VER MÁS</a>
            </div>
          </li>
    
          <li>
            <div class="hexagon-container">
              <div class="hexagon">
                <i class="bi bi-hexagon-fill">
                  <div class="hexagon-content">
                    <i class="bi bi-x"></i>
                  </div>
      
                </i>
              </div>
            </div>
            <div class="cargo-data">
              <h4>Carga no aceptada</h4>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat facere iste at ipsa iusto excepturi perspiciatis tempore in quasi facilis quibusdam, libero optio ad velit tempora impedit! Quasi, ea fugit.</p>
              <a href="">VER MÁS</a>
            </div>
          </li>
    
          <li>
            <div class="hexagon-container">
              <div class="hexagon">
                <i class="bi bi-hexagon-fill">
                  <div class="hexagon-content" style="left: 16%;">
                    <i class="bi bi-airplane-engines"></i>
                  </div>
                </i>
              </div>
            </div>
            <div class="cargo-data">
              <h4>Mercados y aeropuertos
                actualmente operados:</h4>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat facere iste at ipsa iusto excepturi perspiciatis tempore in quasi facilis quibusdam, libero optio ad velit tempora impedit! Quasi, ea fugit.</p>
              <a href="">VER MÁS</a>
            </div>
          </li>
    
          <li>
            <div class="hexagon-container">
              <div class="hexagon">
                <i class="bi bi-hexagon-fill">
                  <div class="hexagon-content">
                    <i class="bi bi-box-seam"></i>
                  </div>
                </i>
              </div>
            </div>
            <div class="cargo-data">
              <h4>
                Requerimientos para el transporte
                de carga por JetBlue:
              </h4>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat facere iste at ipsa iusto excepturi perspiciatis tempore in quasi facilis quibusdam, libero optio ad velit tempora impedit! Quasi, ea fugit.</p>
              <a href="">VER MÁS</a>
            </div>
          </li>
        </ul>
      </section>
    </div>

  </div>

  <section class="bookings text-center p-3 px-lg-5 py-3 d-lg-flex justify-content-between align-items-center">
    <div class="maxWidth w-100 d-lg-flex align-items-center justify-content-center">
      <p>
        Lorem ipsum dolor sit amet, consect
        etuer adipiscing elit, sed diam n
        onummy nibh euismod 
      </p>
      <!-- <div class="link">
        <a href="">Reservas</a>
      </div> -->
    </div>

  </section>

</div>