<div class="cargo-cards">

  <div class="cards maxWidth d-lg-flex">
    <div class="col-12 col-lg-4 p-3">
      <section class="aviation-container p-3 d-lg-flex flex-column justify-content-between">
        <h3>AVIACIÓN <br> INTELIGENTE</h3>
        <p class="border-small"></p>
      
        <p class="aviation-container-text">Ofrecemos una solución estratégica e integral de servicios de
          carga para las aerolíneas de pasajeros low-cost del mundo que
          necesiten generar un rendimiento más eficiente e inteligente
          de su unidad de negocios de carga.</p>
        
        <div class="link">
          <a href="">VER MÁS</a>
        </div>
      </section>
    </div>

    <div class="col-12 col-lg-8 p-3">
      <section class="cargo">
        <ul class="d-lg-flex">
          <li>
            <div class="hexagon-container">
              <div class="hexagon">
                <i class="bi bi-hexagon-fill">
                  <div class="hexagon-content">
                    <i class="bi bi-check-lg"></i>
                  </div>
      
                </i>
              </div>
            </div>
            <div class="cargo-data">
              <h4>Carga aceptada</h4>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat facere iste at ipsa iusto excepturi perspiciatis tempore in quasi facilis quibusdam, libero optio ad velit tempora impedit! Quasi, ea fugit.</p>
              <a href="">VER MÁS</a>
            </div>
          </li>
    
          <li>
            <div class="hexagon-container">
              <div class="hexagon">
                <i class="bi bi-hexagon-fill">
                  <div class="hexagon-content">
                    <i class="bi bi-x"></i>
                  </div>
      
                </i>
              </div>
            </div>
            <div class="cargo-data">
              <h4>Carga no aceptada</h4>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat facere iste at ipsa iusto excepturi perspiciatis tempore in quasi facilis quibusdam, libero optio ad velit tempora impedit! Quasi, ea fugit.</p>
              <a href="">VER MÁS</a>
            </div>
          </li>
    
          <li>
            <div class="hexagon-container">
              <div class="hexagon">
                <i class="bi bi-hexagon-fill">
                  <div class="hexagon-content" style="left: 16%;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-airplane-engines" viewBox="0 0 16 16">
                      <path d="M8 0c-.787 0-1.292.592-1.572 1.151A4.347 4.347 0 0 0 6 3v3.691l-2 1V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.191l-1.17.585A1.5 1.5 0 0 0 0 10.618V12a.5.5 0 0 0 .582.493l1.631-.272.313.937a.5.5 0 0 0 .948 0l.405-1.214 2.21-.369.375 2.253-1.318 1.318A.5.5 0 0 0 5.5 16h5a.5.5 0 0 0 .354-.854l-1.318-1.318.375-2.253 2.21.369.405 1.214a.5.5 0 0 0 .948 0l.313-.937 1.63.272A.5.5 0 0 0 16 12v-1.382a1.5 1.5 0 0 0-.83-1.342L14 8.691V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v.191l-2-1V3c0-.568-.14-1.271-.428-1.849C9.292.591 8.787 0 8 0ZM7 3c0-.432.11-.979.322-1.401C7.542 1.159 7.787 1 8 1c.213 0 .458.158.678.599C8.889 2.02 9 2.569 9 3v4a.5.5 0 0 0 .276.447l5.448 2.724a.5.5 0 0 1 .276.447v.792l-5.418-.903a.5.5 0 0 0-.575.41l-.5 3a.5.5 0 0 0 .14.437l.646.646H6.707l.647-.646a.5.5 0 0 0 .14-.436l-.5-3a.5.5 0 0 0-.576-.411L1 11.41v-.792a.5.5 0 0 1 .276-.447l5.448-2.724A.5.5 0 0 0 7 7V3Z"/>
                    </svg>
                  </div>
                </i>
              </div>
            </div>
            <div class="cargo-data">
              <h4>Mercados y aeropuertos
                actualmente operados:</h4>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat facere iste at ipsa iusto excepturi perspiciatis tempore in quasi facilis quibusdam, libero optio ad velit tempora impedit! Quasi, ea fugit.</p>
              <a href="">VER MÁS</a>
            </div>
          </li>
    
          <li>
            <div class="hexagon-container">
              <div class="hexagon">
                <i class="bi bi-hexagon-fill">
                  <div class="hexagon-content">
                    <i class="bi bi-box-seam"></i>
                  </div>
                </i>
              </div>
            </div>
            <div class="cargo-data">
              <h4>
                Requerimientos para el transporte
                de carga por JetBlue:
              </h4>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat facere iste at ipsa iusto excepturi perspiciatis tempore in quasi facilis quibusdam, libero optio ad velit tempora impedit! Quasi, ea fugit.</p>
              <a href="">VER MÁS</a>
            </div>
          </li>
        </ul>
      </section>
    </div>

  </div>

  <section class="bookings text-center p-3 px-lg-5 py-3 d-lg-flex justify-content-between align-items-center">
    <div class="maxWidth w-100 d-lg-flex align-items-center justify-content-between">
      <p>
        Lorem ipsum dolor sit amet, consect
        etuer adipiscing elit, sed diam n
        onummy nibh euismod 
      </p>
      <div class="link">
        <a href="">Reservas</a>
      </div>
    </div>

  </section>

</div>