<div class="hero">
  <div class="content">

      <!-- animacion de palabras normal: -->
      <!-- <div class="keywords-content p-3">
        <div class="keywords">
          <p id="key-1" class="my-3 my-lg-0">MODELO DE NEGOCIO ÚNICO</p>
        </div>

        <div class="keywords d-lg-flex justify-content-between my-lg-5 mx-lg-3">
          <p id="key-4" class="my-3 my-lg-0">EXPERIENCIA</p>
          <p id="key-2" class="my-3 my-lg-0">INNOVACIÓN</p>
        </div>
  
        <div class="keywords">
          <p id="key-3" class="my-3 my-lg-0">RENTABILIDAD</p>
        </div>
      </div> -->


      <!-- animacion de palabras infinito -->
      <div class="container-slider">
        <div class="slider">
          <div class="logos">
            <p>MODELO DE NEGOCIO ÚNICO</p>
            <p>EXPERIENCIA</p>
            <p  class="">INNOVACIÓN</p>
            <p  class="">RENTABILIDAD</p>
          </div>
          <div class="logos d-none d-lg-inline-block">
            <p class="">MODELO DE NEGOCIO ÚNICO</p>
            <p class="">EXPERIENCIA</p>
            <p>INNOVACIÓN</p>
            <p>RENTABILIDAD</p>
          </div>
        </div>
      </div>
    
      

      <!-- <a href="#contact" class="btn-contact">Contáctenos</a> -->
  </div>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./img/1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./img/4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./img/5.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./img/6.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./img/7.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>


