<div class="our-team">
  <div class="container-team">
    <h3 class="mt-3">Nuestro Equipo</h3>
    <p class="border-small"></p>

    <p class="text-team">Contamos con un equipo con más de 40 años de experiencia global en a prestación de servicios de
      todo tipo en el sector del transporte aéreo nacional
      e internacional.</p>
    
    <div class="employee-cards d-fle justify-content-center">
      
      <div id="carouselExampleCaptions" class="carousel slide my-3" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">

            <div class="employee">
              <div class="hexagon-container">
                <div class="hexagon">
                  <i class="bi bi-hexagon-fill">
                    <div class="hexagon-content">
                      <img src="https://media.istockphoto.com/id/1355110818/photo/studio-shot-of-a-handsome-and-happy-young-man-posing-against-a-grey-background.jpg?s=170667a&w=0&k=20&c=hlvt8BdQGpSvIbtH2MQ_ERFPDorbVTA-Oa11SxzOPPE=" alt="">
                    </div>
                  </i>
                </div>
              </div>
              <div class="data-employee text-center">
                <p class="employee-name">nombre</p>
                <p class="employment-name">Cargo</p>
                <p class="employee-description">Lorem ipsum dolor sit amet,
                  consectetuer adipiscing elit,
                  sed diam nonummy nibh
                  euismod tincidunt ut lao- reet dolore magna aliquam
                  erat volutpat. </p>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            
            <div class="employee">
              <div class="hexagon-container">
                <div class="hexagon">
                  <i class="bi bi-hexagon-fill">
                    <div class="hexagon-content">
                      <img src="https://media.istockphoto.com/id/1355110818/photo/studio-shot-of-a-handsome-and-happy-young-man-posing-against-a-grey-background.jpg?s=170667a&w=0&k=20&c=hlvt8BdQGpSvIbtH2MQ_ERFPDorbVTA-Oa11SxzOPPE=" alt="">
                    </div>
                  </i>
                </div>
              </div>
              <div class="data-employee text-center">
                <p class="employee-name">nombre</p>
                <p class="employment-name">Cargo</p>
                <p class="employee-description">Lorem ipsum dolor sit amet,
                  consectetuer adipiscing elit,
                  sed diam nonummy nibh
                  euismod tincidunt ut lao- reet dolore magna aliquam
                  erat volutpat. </p>
              </div>
            </div>

            
          </div>
          <div class="carousel-item">

            <div class="employee">
              <div class="hexagon-container">
                <div class="hexagon">
                  <i class="bi bi-hexagon-fill">
                    <div class="hexagon-content">
                      <img src="https://media.istockphoto.com/id/1355110818/photo/studio-shot-of-a-handsome-and-happy-young-man-posing-against-a-grey-background.jpg?s=170667a&w=0&k=20&c=hlvt8BdQGpSvIbtH2MQ_ERFPDorbVTA-Oa11SxzOPPE=" alt="">
                    </div>
                  </i>
                </div>
              </div>
              <div class="data-employee text-center">
                <p class="employee-name">nombre</p>
                <p class="employment-name">Cargo</p>
                <p class="employee-description">Lorem ipsum dolor sit amet,
                  consectetuer adipiscing elit,
                  sed diam nonummy nibh
                  euismod tincidunt ut lao- reet dolore magna aliquam
                  erat volutpat. </p>
              </div>
            </div>

           
          </div>
        </div>
      </div>

    </div>

    </div>
  </div>
</div>