<div class="our-team">
  <div class="container-team maxWidth">
    <h3 class="mt-5">Nuestro Equipo</h3>
    <p class="border-small"></p>

    <p class="text-team">Contamos con un equipo con más de 40 años de experiencia global en a prestación de servicios de
      todo tipo en el sector del transporte aéreo nacional
      e internacional.</p>
    
    <div class="employee-cards d-fle justify-content-center">
      
      <div id="carouselExampleCaptions" class="carousel slide my-3" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
        </div>

        <div class="carousel-inner" id="carouser-handler">

          <!-- <div class="carousel-item active">
            <div class="d-flex">

              <partial src="./components/card-employee.html" image="./img/team1.png" name="Patricio Sepúlveda" cargo="Co-founder & CEO" desc="Profesional en economía y ________, cuenta con más de 47 años de experiencia en diferentes cargos directivos en el sector aéreo y aeronáutico y es nuestro fundador y CEO."></partial>

              <partial src="./components/card-employee.html" image="./img/team3.png" name="Camila Restrepo" cargo="Admin & Financial Controller" desc="Profesional en comunicación y relaciones públicas, con más de 16 años de experiencia en el sector gremial aeronáutico y aéreo."></partial>

              <partial src="./components/card-employee.html" image="./img/team2.jpg" name="Christian Rendel" cargo="Planning Director" desc="Ingeniero Industrial y mecánico, con más de 11 años de experiencia en general y 3 años de experiencia en el manejo y desarrollo de plataformas tecnológicas para el sector aéreo."></partial>
              
            </div>
          </div> -->

          <!-- <div class="carousel-item active">
            <div class="d-flex">

              <partial src="./components/card-employee.html" image="./img/team5.png" name="Roberto Ilanes" cargo="Head of Operation" desc="Profesional con más de 40 años de experiencia en operaciones en el sector aéreo."></partial>

              <partial src="./components/card-employee.html" image="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/1200px-User-avatar.svg.png" name="Frank Jerez" cargo="OCC Manager" desc="Profesional con más de 25 años de experiencia en el sector aéreo en diferentes roles."></partial>

              <partial src="./components/card-employee.html" image="./img/team4.png" name="Ignacio Gómez" cargo="Contract & Compliance Manager" desc="Ingeniero en telecomunicaciones, con maestría en comunidades europeas, con más de 25 años de experiencia en temas administrativos, contractuales y operativos en el sector aéreo."></partial>
              
            </div>
          </div> -->

          <!-- <div class="carousel-item">
            <div class="d-flex">
              <partial src="./components/card-employee.html"></partial>
              <div class="hidden">
                <partial src="./components/card-employee.html"></partial>
                <partial src="./components/card-employee.html"></partial>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="d-flex">
              <partial src="./components/card-employee.html"></partial>
              <div class="hidden">
                <partial src="./components/card-employee.html"></partial>
                <partial src="./components/card-employee.html"></partial>
              </div>
            </div>
          </div> -->

        </div>
      </div>

    </div>

    </div>
  </div>
</div>