<section class="allies">
  <div class="maxWidth">
    <h3>NUESTROS ALIADOS ESTRATÉGICOS</h3>
    <p>
      Contamos con alianzas estratégicas con empresas que cuentan
      con vasta experiencia tales como: GSA Force, Aeronex LLC, IBS
      Software y reconocidas empresas de asistencia en tierra en cada
      una de las estaciones donde operamos. 
    </p>
    <img class="d-block d-lg-none" src="./img/allies.png" alt="">
    <img class="d-none d-lg-block" src="./img/allies-desk.png" alt="">
  </div>
</section>