<div class="our-team">
  <div class="container-team maxWidth">
    <h3 class="mt-5">Nuestro Equipo</h3>
    <p class="border-small"></p>

    <p class="text-team">Contamos con un equipo con más de 40 años de experiencia global en a prestación de servicios de
      todo tipo en el sector del transporte aéreo nacional
      e internacional.</p>
    
    <div class="employee-cards d-fle justify-content-center">
      
      <div id="carouselExampleCaptions" class="carousel slide my-3" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-flex">
              <partial src="./components/card-employee.html"></partial>
              <div class="hidden">
                <partial src="./components/card-employee.html"></partial>
                <partial src="./components/card-employee.html"></partial>
              </div>
            </div>

          </div>

          <div class="carousel-item">
            <div class="d-flex">
              <partial src="./components/card-employee.html"></partial>
              <div class="hidden">
                <partial src="./components/card-employee.html"></partial>
                <partial src="./components/card-employee.html"></partial>
              </div>
            </div>

            
          </div>
          <div class="carousel-item">
            <div class="d-flex">
              <partial src="./components/card-employee.html"></partial>
              <div class="hidden">
                <partial src="./components/card-employee.html"></partial>
                <partial src="./components/card-employee.html"></partial>
              </div>
            </div>

           
          </div>
        </div>
      </div>

    </div>

    </div>
  </div>
</div>