<div class="contact-from-wrap">
  <form class="contact-form">
     <p>
        <input type="text" name="name" placeholder="Enter Name*">
     </p>
     <p>
        <input type="email" name="email" placeholder="Enter Email*">
     </p>
     <p>
        <input type="text" name="subject" placeholder="Enter Subject*">
     </p>
     <p>
        <textarea rows="8" placeholder="Enter Message*"></textarea>
     </p>
     <p class="">
        <input type="submit" name="submit" value="SUBMIT MESSAGE">
     </p>
  </form>
</div>