<div class="contact-from-wrap">
  <form class="contact-form">
     <p>
        <input data-translate="message-name" type="text" name="name" placeholder="Enter Name*">
     </p>
     <p>
        <input data-translate="message-email" type="email" name="email" placeholder="Enter Email*">
     </p>
     <p>
        <input data-translate="message-subject" type="text" name="subject" placeholder="Enter Subject*">
     </p>
     <p>
        <textarea data-translate="message-message" rows="8" placeholder="Ingresa el mensaje*"></textarea>
     </p>
     <p>
        <input data-translate="btn-submit" type="submit" name="submit" placeholder="SUBMIT MESSAGE">
     </p>
  </form>
</div>