<div class="container px-3 px-md-5 m-md-5 contactUs">
  <div class="row">
    <div class="col-12 col-md-7 d-flex justify-content-center align-items-center pe-md-5">
      <div class="contact-info ps-md-5 ms-md-5">
        <h3 class="contact-title">Contact Us</h3>
        <p class="my-3">Lorem ipsum dolor sit amet consectetur 
          adipisicing elit. Accusantium fuga fugit 
          laborum, ipsum sit labore quibusdam 
          corporis ea consequatur aliquid.</p>
        
        <div class="city-data">
          <h3 class="border-red">NEW YORK CITY</h3>
          <div class="location d-flex my-3">
            <i class="bi bi-geo-alt-fill me-2"></i>
            <p>Bridge Str, Wilmington <br> 11226 United States</p>
          </div>
  
          <div class="email d-flex my-3">
            <i class="bi bi-envelope-fill me-2"></i>
            <a href="mailto:">company@domain.com</a>
          </div>
  
          <div class="phone d-flex my-3">
            <i class="bi bi-telephone-fill me-2"></i>
            <a href="tel:+">(888)9000-33-666</a>
          </div>
        </div>

        <div class="city-data">
          <h3 class="border-red">SAN FRANCISCO</h3>
          <div class="location d-flex my-3">
            <i class="bi bi-geo-alt-fill me-2"></i>
            <p>Bridge Str, Wilmington <br> 11226 United States</p>
          </div>
  
          <div class="email d-flex my-3">
            <i class="bi bi-envelope-fill me-2"></i>
            <a href="mailto:">company@domain.com</a>
          </div>
  
          <div class="phone d-flex my-3">
            <i class="bi bi-telephone-fill me-2"></i>
            <a href="tel:+">(888)9000-33-666</a>
          </div>
        </div>
        
      </div>
    </div>

    <div class="col-12 col-md-5">
      <partial src="./components/ContactUs/ContactForm.html"></partial>
    </div>
  </div>
</div>