<div class="container text-center">
  <h3 class="title-double-color">OUR <span>TEAM</span></h3>
  <p style="max-width: 500px; margin:auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, cumque.</p>
  
  <div class="container-company-team my-5 d-flex flex-wrap justify-content-evenly">
    <partial src="./components/Company/cards/CompanyTeamCard.html"></partial>
    <partial src="./components/Company/cards/CompanyTeamCard.html"></partial>
    <partial src="./components/Company/cards/CompanyTeamCard.html"></partial>
    <partial src="./components/Company/cards/CompanyTeamCard.html"></partial>
  </div>
</div>