<div class="container px-lg-5 text-center my-5 py-5" style="max-width: 800px;">
  <h3 class="title-double-color mb-5">OUR <span>COMPANY</span></h3>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Odit, exercitationem, iste tempora doloremque alias tempore 
    voluptates doloribus consectetur at laboriosam ratione, 
    ipsum blanditiis dolorum! Modi odit nobis eum incidunt
    cupiditate rem? Molestias mollitia culpa, magni nobis aliquam
    nemo quis voluptate quisquam. Nam soluta totam iste natus placeat 
    velit reprehenderit officiis?</p>
  <br>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Aspernatur aliquid amet qui eaque corporis ipsum nemo eos, 
    eum beatae necessitatibus nesciunt quis laudantium placeat error 
    nostrum ex molestias impedit consectetur incidunt aut quod maiores 
    repudiandae tempora! Qui exercitationem, alias veniam cupiditate 
    quas soluta reiciendis provident eligendi nihil corporis omnis 
    distinctio.</p>
</div>