<div class="container text-center mt-5">
  <span class="title-double-color d-flex justify-content-center align-items-center">
    <h3 data-translate="our-b">OUR</h3>
    <span data-translate="team">TEAM</span>
  </span>
  <p style="max-width: 500px; margin:auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, cumque.</p>
  
  <div class="container-company-team my-5 d-flex flex-wrap justify-content-evenly">
    <partial src="./components/Company/cards/CompanyTeamCard.html"></partial>
    <partial src="./components/Company/cards/CompanyTeamCard.html"></partial>
    <partial src="./components/Company/cards/CompanyTeamCard.html"></partial>
    <partial src="./components/Company/cards/CompanyTeamCard.html"></partial>
  </div>
</div>