<div class="container px-lg-5 text-center mt-5 pt-5" style="max-width: 800px;">
  <span class="title-double-color mb-5 d-flex justify-content-center align-items-center">
    <h3 data-translate="our-a">OUR</h3>
    <span data-translate="company">COMPANY</span>
  </span>
  <p data-translate="data-our-company-p1"></p>
  <br>
  <p data-translate="data-our-company-p2"></p>
</div>

<div class="container px-lg-5 text-center mt-5" style="max-width: 800px;">
  <h3 class="title-double-color mb-5"><span>VISION</span></h3>
  <p data-translate="data-our-company-vision-p1"></p>
  <br>
  <p data-translate="data-our-company-vision-p2"></p>
</div>

<div class="container px-lg-5 text-center my-5 pb-5" style="max-width: 800px;">
  <h3 class="title-double-color mb-5"><span>MISSION</span></h3>
  <p data-translate="data-our-company-mission-p1"></p>
</div>