<div class="container container-home-process text-center my-5">
  <h3>GRAFICO DE <span>PROCESOS</span></h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, omnis at qui rerum ad modi?</p>
  <div class="container-icons-process d-flex flex-column flex-md-row justify-content-center align-items-center">
    <div class="icon-process mt-3">
      <img src="./img/iconSettings.png" alt="" width="60px">
      <p>DESARROLLO</p>
    </div>
  
    <div class="icon-process mt-3">
      <img src="./img/iconSettings.png" alt="" width="60px">
      <p>EJECUCION</p>
    </div>
  
    <div class="icon-process mt-3">
      <img src="./img/iconSettings.png" alt="" width="60px">
      <p>REALIZACION</p>
    </div>
  </div>

</div>