<div class="container-fluidmy-3 container-card-home card-services">
  <div class="container px-lg-5">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 pe-0">
        <div class="container-home-text text-center text-md-end my-5">
          <span class="title-double-color d-flex justify-content-end align-items-center">
            <h3 data-translate="our">OUR</h3>
            <span data-translate="services">SERVICES</span>
          </span>
          <p class="my-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae incidunt  laboriosam aperiam necessitatibus dolorem ab dolore dolores nisi, soluta alias quibusdam deleniti, unde praesentium, doloribus quaerat illum ipsam.</p>
          <a data-translate="btn-read-more" href="#" class="btn">READ MORE</a>
        </div>
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
        <partial src="./components/Home/cards/Services-cards.html"></partial>
        <partial src="./components/Home/cards/Services-cards.html"></partial>
        <partial src="./components/Home/cards/Services-cards.html"></partial>
      </div>
    </div>
  </div>
</div>

