<div class="container container-card-home card-about">
  <div class="row align-items-center">
    <div class="col-12 col-md-6">
      <img src="./img/img-porcent.png" alt="">
    </div>
    <div class="col-12 col-md-6 ps-md-0">
      <div class="container-home-text pt-3 text-center text-md-start">
        <span class="title-double-color d-flex align-items-center">
          <h3 data-translate="our-a">OUR</h3>
          <span data-translate="company">COMPANY</span>
        </span>
        <p class="my-3" style="font-weight: 600;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
        <a data-translate="btn-read-more" class="btn mb-3 btn-blue" href="./OurServices.html">READ MORE</a>
      </div>
    </div>
  </div>
</div>