<div class="container container-home-process text-center my-5">
  <span class="title-double-color mb-5 d-flex justify-content-center align-items-center">
    <h3 data-translate="process">grafico de </h3>
    <span data-translate="chart">procesos</span>
  </span>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, omnis at qui rerum ad modi?</p>
  <div class="container-icons-process d-flex flex-column flex-md-row justify-content-center align-items-center">
    <div class="icon-process mt-3">
      <img src="./img/iconSettings.png" alt="" width="60px">
      <p data-translate="develop">DESARROLLO</p>
    </div>
  
    <div class="icon-process mt-3">
      <img src="./img/iconSettings2.png" alt="" width="60px">
      <p data-translate="execute">EJECUCION</p> 
    </div>
  
    <div class="icon-process mt-3">
      <img src="./img/iconSettings3.png" alt="" width="60px">
      <p data-translate="realization">REALIZACION</p>
    </div>
  </div>

</div>