<div class="container-fluid container-home-news my-5">
  <div class="container container-news p-0 d-md-flex justify-content-between">
    <div class="title-news mb-3 mb-md-0">
      <h5 style="min-width: 160px; font-weight: bold;">ÚLTIMAS <br> NOTICIAS</h5>
    </div>
    <div class="cards-news m-2 d-flex flex-wrap align-items-center justify-content-center">
      <partial src="./components/Home/cards/News-Card.html" param="news1.png"></partial>
      <partial src="./components/Home/cards/News-Card.html" param="news2.png"></partial>
      <partial src="./components/Home/cards/News-Card.html" param="news3.png"></partial>
      <partial src="./components/Home/cards/News-Card.html" param="news4.png"></partial>
      <partial src="./components/Home/cards/News-Card.html" param="news5.png"></partial>
      <partial src="./components/Home/cards/News-Card.html" param="news6.png"></partial>
    </div>
  </div>
</div>