<div class="container container-home-news my-5">
  <div class="container-news d-md-flex justify-content-between justify-content-x-evenly mx-xl-5">
    <div class="title-news mb-3 mb-md-0">
      <h5 style="min-width: 160px;">ÚLTIMAS <br> NOTICIAS</h5>
    </div>
    <div class="cards-news d-flex flex-wrap align-items-center justify-content-center">
      <partial src="./components/Home/cards/News-Card.html"></partial>
      <partial src="./components/Home/cards/News-Card.html"></partial>
      <partial src="./components/Home/cards/News-Card.html"></partial>
      <partial src="./components/Home/cards/News-Card.html"></partial>
      <partial src="./components/Home/cards/News-Card.html"></partial>
    </div>
  </div>
</div>