<footer class="footer container-fluid text-center">
    <div class="border-blue py-4 position-relative d-flex justify-content-center align-items-center">
      <div class="footer-text d-flex justify-content-center align-items-center">
        <h5 data-translate="header-ship-us">SHIP WITH US</h5>
        <button data-translate="start" class="btn">START</button>
      </div>  
        <div class="userImg bottom-0" style="right: 60px;">
          <img src="./img/userFooter.png" alt="" width="150px">
        </div>
    </div>
    <div class="footer-data-company">
        <div class="d-flex flex-column">
            <div class="container">
              <h4>NEW YORK CITY</h4>
              <div class="container-data d-flex flex-column flex-md-row justify-content-between align-items-center">
                <div class="data d-flex align-items-center">
                  <i class="bi bi-geo-alt-fill me-2"></i>
                  <a href="#">
                    <p>Bridge Str, Wilmington <br> 11226 United States</p>
                  </a>
                </div>
                <div class="data d-flex align-items-center">
                  <i class="bi bi-envelope-fill me-2"></i>
                  <a href="mailto:">company@domain.com</a>
                </div>
                <div class="data  d-flex align-items-center">
                  <i class="bi bi-telephone-fill me-2"></i>
                  <a href="tel:+">(888)9000-33-666</a>
                 </div>
              </div>
            </div>
        </div>
      </div>
</footer>
<script src="./js/all.js"></script>
<script type="text/javascript" src="./translateJs/translate.js" ></script>
</body>
</html>
