<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />    
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" href="./img/logo_cargo.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    

    <title>Aeronex Cargo Turn-Key Solutions</title>
  </head>
<body>
    <header>
      <nav class="maxWidth navbar navbar-expand-lg navbar-light py-4">
        <div class="container-fluid">
          <div class="logo">
            <a href="/">
              <img src="./img/logo_cargo.svg" alt="logo-aeronex">
            </a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
          </button>
          <div class="mobile-menu collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav text-center">
              <li class="nav-item">
                <a data-nav="home" class="nav-link active" aria-current="page" href="/">
                  <span data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    Inicio
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a data-nav="about" class="nav-link">
                  <span data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    Quienes Somos
                  </span>
                </a>
              </li>
              <!-- <li class="nav-item">
                <a data-nav="airports" class="nav-link">
                  <span data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    Nuestros Mercados y Aeropuertos 
                  </span>
                </a>
              </li> -->
              <li class="nav-item">
                <a data-nav="services" class="nav-link" href="../OurServices.html">
                  <span data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    Nuestros Servicios
                  </span>
                </a>
              </li>
              <!-- <li class="nav-item">
                <a data-nav="" class="nav-link" href="#">
                  <span data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    Instalaciones
                  </span>
                </a>
              </li> -->
              <li class="nav-item">
                <a data-nav="OurTeam" class="nav-link">
                  <span data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    Nuestro Equipo
                  </span>
                </a>
              </li>

              <li class="nav-item">
                <a data-nav="AviationNews" class="nav-link">
                  <span data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    Noticias de Aviación
                  </span>
                </a>
              </li>
              <!-- <div class="dropdown nav-item" id="">
                <a class="nav-link dropdown-toggle drop-a1" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Noticias de Aviación
                </a>
                <ul style="width: 100%;" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item drop-a2" href="https://news.flylinkers.com/" target="_blank" rel=”noopener noreferrer”>Flylinkers news</a></li>
                  <li><a class="dropdown-item drop-a2" href="https://aeronexllc.com" target="_blank" rel=”noopener noreferrer”>Aeronex LLC</a></li>
                </ul>
              </div> -->

              <li class="nav-item">
                <a data-nav="contact" class="nav-link">
                  <span data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    Contáctenos
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">🇺🇸</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link btn-bookings" href="#">Reservas</a>
              </li> -->
              
            </ul>
          </div>

          <div class="contact-links d-none d-lg-flex">
            <a href="https://goo.gl/maps/dSsyDY7vYda25Adz7" target="_blank" rel="noopener noreferrer"class="d-flex align-items-center mx-3">
                <i class="bi bi-geo-alt me-3"></i>
                <div class="data-link">
                  <p>Ubicación:</p>
                  <p>8601 NW 27th Street, Suite 051-514119 Miami, FL, 33122 • USA</p>
                </div>
            </a>
            <a href="tel:+7867241635" class="d-flex align-items-center mx-3">
                <i class="bi bi-telephone me-3"></i>
                <div class="data-link">
                  <p>Teléfono:</p>
                  <p>786 724 1635</p>
                </div>
            </a>
            <a href="mailto:soledad@aeronexcargo.com" class="d-flex align-items-center mx-3">
                <i class="bi bi-envelope me-3"></i>
                <div class="data-link">
                  <p>Email:</p>
                  <p>soledad@aeronexcargo.com</p>
                </div>
            </a>
          </div>

        </div>
      </nav>

      <section class="d-flex d-lg-none nav-buttons d-flex justify-content-between">
        <a href="https://goo.gl/maps/dSsyDY7vYda25Adz7" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-geo-alt"></i>
        </a>
        <a href="#">
            <i class="bi bi-telephone"></i>
        </a>
        <a href="#">
            <i class="bi bi-envelope"></i>
        </a>
      </section>

      <section class="d-none d-lg-block nav-desktop py-2">
        <nav class="maxWidth">
          <ul class="ul-desk">
            <li>
              <a href="/" data-nav="home">Inicio</a>
            </li>
            <li>
              <a data-nav="about">Quienes Somos</a>
            </li>
            <!-- <li>
              <a data-nav="airports">Nuestros Mercados y Aeropuertos</a>
            </li> -->
            <li>
              <a href="../OurServices.html" data-nav="services">Nuestros Servicios</a>
            </li>
            <!-- <li>
              <a href="#" data-nav="">Instalaciones</a>
            </li> -->
            <li>
              <a data-nav="OurTeam">Nuestro Equipo</a>
            </li>

            <li>
              <a data-nav="AviationNews">Noticias de Aviación</a>
            </li>
            <!-- <div class="dropdown" id="drop-main">
              <a class=" dropdown-toggle drop-a1" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Noticias de Aviación
              </a>
              <ul style="width: 100%;" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item drop-a2" href="https://news.flylinkers.com/" target="_blank" rel=”noopener noreferrer”>Flylinkers news</a></li>
                <li><a class="dropdown-item drop-a2" href="https://aeronexllc.com" target="_blank" rel=”noopener noreferrer”>Aeronex LLC</a></li>
              </ul>
            </div> -->

            <li>
              <a data-nav="contact">Contáctenos</a>
            </li>
            <li>
              <a href="#"><p>🇺🇸</p></a>
            </li>
            <!-- <li class="btn-bookings">
              <a href="#">Reservas</a>
            </li> -->
          </ul>
        </nav>
      </section>

    </header>